@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
    --dark-purple: #101820;
    --bright-purple: #FEE715;
    --bg-button: #15202b;
    --white-: #fff
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
    background-color: var(--dark-purple);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    color: var(--white-);
    padding: 0 100px 0 100px;
    font-size: large;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: xx-large;
}

.navlink a {
    margin: 10px;
}

.navlink span {
    display: none;
}

.slide-menu {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 100px 0 100px;
}

.hero-heading {
    font-size: 35px;
    color: var(--bright-purple);
    font-weight: 500;
    text-align: center;
}

.role {
    color: var(--bright-purple);
    font-weight: 800;
    background-color: transparent;
}

.hero-sub-heading {
    font-size: 45px;
    line-height: 45px;
    color: var(--white-);
    text-align: center;
}

.hero-description {
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--bg-button);
    color: var(--white-);
    font-size: 25px;
    cursor: pointer;
    transition: all 1s;
    font-weight: 500;
    z-index: 1;
    padding: 8px 20px;
}

.btn span {
    margin-left: 8px;
    padding-top: 5px;
    background-color: var(--bg-button);
}

.btn:hover {
    color: var(--bright-purple);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px 0 100px;
    color: var(--white-);
    gap: 20px;
}

.img-container img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px var(--bright-purple);
}

.img-container img:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.cert-head {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 93px 100px 0 100px;
    margin-top: 7px;
}

.cert-head p {
    font-size: xxx-large;
    color: var(--white-);
    padding: 0px 0 20px 0;
}

.certifications {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certifications img {
    width: 280px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--bright-purple);
}

.certifications img:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.skill {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: auto;
    width: 100vw;
    color: var(--white-);
    padding: 100px 100px 0 100px;

}

.tech-intro {
    width: 50%;
}

.skill-disc {
    font-size: 20px;
    padding-top: 20px;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-top: 80px;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skills-logo {
    height: 100px;
    width: 100px;
    transition: all 0.5s;
}

.skills-logo:hover {
    transform: scale(1.2);
}

.project {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 100px 100px 0 100px;
}

.header p {
    font-size: xxx-large;
    color: var(--white-);
    padding: 0 0 30px 0;
}

.project-section {
    display: flex;
    align-items: center;
}

.p1, .p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.project-img {
    position: relative;
}

.project-img img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--bright-purple);
    cursor: pointer;
}

.project-desc {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--white-);
    width: 350px;
    height: 205px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(254, 231, 21));
    transition: all 0.5s ease;
    opacity: 0;
}

.project-desc:hover {
    opacity: 1;
}

.project-desc a {
    background: transparent;
}

.project-desc span {
    background: transparent;
    font-size: x-large;
    background-color: var(--white-);
    border-radius: 50%;
    color: var(--dark-purple);
    padding: 10px;
}

.head {
    background: transparent;
    font-size: x-large;
    font-weight: bold;
}

.descrip {
    background: transparent;
    text-align: center;
    font-size: large;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 100px 150px 100px;
    height: auto;
    color: var(--white-);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 50px;
    gap: 5px;
}

.heading {
    font-size: xxx-large;
    padding: 25px 0 0 0;
}

.contacts {
    display: flex;
    align-items: center;
  }

.contacts span{
    padding: 5px 10px 0 0;
    color: var(--bright-purple);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 10px;

}

.form-container input {
    width: 350px;
    height: 40px;
    border: none;
    background-color: var(--bg-button);
    color: var(--white-);
    outline: none;
    padding: 10px;
    font-size: large;
}

.textarea {
    width: 350px;
    height: 60px;
    resize: none;
    border: none;
    background-color: var(--bg-button);
    outline: none;
    color: var(--white-);
    padding: 10px;
    font-size: large;
}

input::placeholder,textarea::placeholder {
    color: var(--white-);
    font-size: 16px;
  }

.submit {
    background-color: var(--bg-button);
    color: var(--white-);
    font-size: x-large;
    padding: 5px 0 5px 0;
    width: 350px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.submit:hover {
    color: var(--bright-purple);
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 10px;
    color: var(--bright-purple);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

.social a{
    padding: 0 5px 0 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100vw;
    height: 100px;
    color: var(--white-);
}


@media only screen and (max-width: 767px) {

    .navbar {
        padding: 0 20px 0 20px;

    }

    .navlink a {
        display: none;
    }

    .navlink span {
        display: block;
    }


    .slide-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: var(--dark-purple);
        opacity: 95%;
        transition: 0.3s;
        z-index: 101;
    }

    .slide-menu a {
        padding: 10px 0 5px 20px;
        font-size: large;
        color: #fff;
        background-color: var(--dark-purple);
        text-decoration: none;
        transition: 0.3s;
    }

    .slide-menu a:hover {
        color: var(--bright-purple);
    }

    .hero {
        padding: 20px 20px 0 20px;
        height: 450px;
    }

    .img-container img {
        height: 250px;
        width: 250px;
    }

    .about {
        padding: 0 20px 0 20px;
    }

    .cert-head {
        height: auto;
        align-items: center;
        padding: 30px 20px 0 20px;
        
    }


    .cert-head p {
        font-size: xx-large;
        color: var(--white-);
        padding: 50px 0 30px 0;
    }

    .certifications {
        display: flex;
        align-items: center;
        width: 330px;
        gap: 30px;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        overflow: scroll;
        border-radius: 10px;
    }

    .certifications:hover {
        transform: scale(1.03);
        transition: all 1s ease;
    }

    .certifications::-webkit-scrollbar {
        display: none;
      }

    .certifications img {
        width: 280px;
        height: 330px;
        flex: 0 0 80%;
        scroll-snap-align: initial;
        border-radius: none;
        box-shadow: none;
        z-index: 50;
    }

    .certifications img:hover {
        transform: none;
        transition: none;
    }

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: auto;
        padding: 50px 20px 0 20px;

    }

    .tech-intro {
        width: auto;
        text-align: center;
    }

    .skill-disc {
        padding-top: 20px;
    }

    .tojustify {
        text-align: justify;
        word-break: break-all;
        text-justify: inter-word;
    }

    .skill-container {
        padding-top: 25px;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        position: relative;
        gap: 2rem;
        justify-content: center;
    }

    .skills-logo {
        height: auto;
        width: 50px;
        transition: all 0.5s;
    }

    .project {
        align-items: center;
        padding: 50px 20px 0 20px;
    }

    .project-section {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .head {
        font-size: large;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 50px 20px 50px 20px;
        height: auto;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        margin-bottom: 0px;
        gap: 5px;
    }

    .heading {
        font-size: xx-large;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100vw;
        height: 100px;
        background-color: var(--dark-purple);
        color: var(--white-);
    }

    .footer p{
        padding: 0 20px 0 20px;
        text-align: center;
    }

}


/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
      
  } */

/* @media only screen and (min-width: 1024px) {
      
  } */
