  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

  * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

:root {
    --dark-purple: #22092C;
    --bright-purple: #4e45d5;
    --orange-soda: #F05941;
    --white-: #fff
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: var(--dark-purple);
    color: var(--white-);
    padding: 0 100px 0 100px;
    font-size: x-large;
    position: fixed;
    top: 0;
}

.logo{
    font-size: xx-large;
    text-shadow: 5px 5px var(--bright-purple);
}

.navlink a{
    margin: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}


.hero{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;
       background-color: var(--dark-purple);
}

.hero-heading{
    font-size: 35px;
    color: var(--bright-purple);
    font-weight: 500;
}

.role{
    color: var(--bright-purple);
    font-weight: 800;
}

.hero-sub-heading{
    font-size: 45px;
    line-height: 45px;
    color: var(--white-);
}

.hero-description{
    margin-top: 1rem;
    font-weight: 500;
    color: var(--white-);
}

.btn{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color:  var(--bright-purple);
    font-size: 25px;
    cursor: pointer;
    transition: all 1s;
    font-weight: 500;
    z-index: 1;
    border: 2px solid var(--bright-purple);
    padding: 8px 20px;
}

.btn span{
    margin-left: 8px;
}

.btn:hover{
    border: 2px solid var(--white-);
    color:  var(--white-);
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: var(--dark-purple);
    color: var(--white-);
    position: fixed;
    bottom: 0;
}
